<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="PHP Battery Bridge"
        android:icon="@mipmap/ic_launcher">

        <activity android:name=".MainActivity" android:exported="true" android:theme="@android:style/Theme.Holo.Light.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".BatteryService" android:exported="false" />

        <receiver android:name=".BatteryReceiver" android:exported="false" />

    </application>

</manifest>
